@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap");

@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}

* {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  background-color: unset;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #989898;
  border-radius: 30px;
}

input[type="number"] {
  &::-webkit-outer-spin-button {
    display: none;
  }
  &::-webkit-inner-spin-button {
    display: none;
  }
  appearance: textfield;
  -moz-appearance: textfield;
}

$main: #1abc9c;
$main80: #1abc9ccc;
$main60: #1abc9c99;
$main10: #1abc9c1a;
$dark: #0d0d0d;
$border: #dddddd;
$inputBg: #f8f8f8;
$inputHint: #aaaaaa;
$gray: #777777;
$grayLight: #777777cc;
$lightGray: #eeeeee;
$text: #666b88;
$starColor: #ffd500;
$white: #fff;
$inputStroke: #f2f2f2;
$success: #34b53a;
$successLight: #34b53acc;
$danger: #ff3a29;
$dangerLight: #dc3545cc;
$borderRadius: 12px;
$transition: 0.3s ease-in-out;
$shadow: 0px 2px 8px #0000001a;

.modal-header {
  border-bottom: 0;
  .btn-close {
    box-shadow: none !important;
    background-image: url("/images/icons/close.svg");
    margin-inline-start: auto !important;
    margin-inline-end: 0 !important;
  }
  h6 {
    color: $dark;
    margin-bottom: 0;
  }
}

.Toastify__toast-body {
  direction: ltr !important;
}

.Toastify__toast-body > div:last-child {
  line-height: 24px;
  flex: unset;
  font-family: "Baloo Bhaijaan 2", sans-serif;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    right: 0;
    left: initial;
  }
}

:root {
  --bs-border-radius-lg: 24px;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
  .navbar-toggler-icon {
    width: 30px;
    height: 30px;
  }
}

.closeModal {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  @include centerFlex();
  background: $inputBg;
  i {
    color: $dark;
    font-size: 12px;
  }
}

.customBtn {
  border: none;
  outline: none;
  background: none;
  isolation: isolate;
  padding: 12px 16px;
  width: 160px;
  margin: auto;
  border: 1px solid $main;
  color: $main;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: $transition;
  &::after {
    position: absolute;
    content: "";
    height: 1000px;
    width: 0;
    right: 50%;
    transition: $transition;
    background: $main;
    transform: rotate(-25deg);
    z-index: -1;
  }
  &:hover {
    color: #fff;
    border-color: $main;
    &::after {
      width: 110%;
      right: -10px;
    }
  }
}

.getAppModal {
  text-align: center;
  .modal-body {
    padding: 24px;
  }
  .modalHeader {
    position: relative;
    .btn-close {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
    }
  }
  .modalBody {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .modalTitle {
    flex: 1;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 28px;
    @media screen and (max-width: 768px) {
      font-size: 24px;
    }
    span {
      color: $main;
      font-size: 28px;
      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }
  }

  .qrcode {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 3 / 2;
    object-fit: contain;
  }
  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    img {
      height: 42px;
    }
  }
}
.css-t3ipsp-control {
  border-color: $lightGray !important;
  box-shadow: none !important;
  &:hover {
    background-color: $white !important;
  }
}
.css-13cymwt-control {
  border-color: $lightGray !important;
}
.select__indicator-separator {
  display: none !important;
}
.select__menu {
  z-index: 999999 !important;
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.7;
}

.image_laoder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  opacity: 0;
  background: #e9e9e9;
  transition: $transition;
  &.laoding {
    opacity: 1;
  }
}

.tableLoader {
  min-height: 548px;
  @include centerFlex();
  flex-direction: column;
  .loader--style8 {
    width: 40px;
    height: 40px;
  }
  svg path,
  svg rect {
    stroke: $main;
  }
}

.loader {
  width: 100%;
  height: 100dvh;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  img {
    height: 100px;
    object-fit: contain;
  }
  span {
    width: 100px;
    height: 2px;
    background: $inputBg;
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 36px;
      background: $main;
      height: 100%;
      animation: appLoading 0.5s linear infinite alternate;
    }
  }
  @keyframes appLoading {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(120px);
    }
  }
}

.data-loader {
  flex: 1;
  @include centerFlex();
  flex-direction: column;
  .loader--style8 {
    width: 80px;
    height: 80px;
  }
  svg path,
  svg rect {
    fill: $main;
  }
}

a,
button {
  transition: $transition;
}

.back-to-top {
  position: fixed;
  z-index: 99;
  right: 8px;
  bottom: 88px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  transform: translateY(30px);
  &.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  &::before {
    position: absolute;
    font-family: "Font Awesome 6 Pro";
    content: "\f062";
    text-align: center;
    line-height: 45px;
    opacity: 1;
    height: 45px;
    width: 45px;
    font-size: 16px;
    font-weight: 600;
    color: $main;
  }
  svg.progress-circle path {
    stroke: $main;
    stroke-width: 4;
  }
}

.form-check-input {
  cursor: pointer;
  box-shadow: none !important;
  &:focus {
    border-color: var(--bs-border-color);
  }
  &:checked {
    background-position: right center;
    background-image: url("/images/icons/check-checked-icon.svg");
    border-color: $main;
  }
}

.dropdown-toggle::after {
  display: none;
}

.css-mohuvp-dummyInput-DummyInput {
  left: 0 !important;
}
.css-1hac4vs-dummyInput {
  width: 0 !important;
}

.fit_content {
  width: fit-content !important;
  padding: 0 48px;
}

.noComments {
  margin: auto 0;
  @include centerFlex();
  color: $inputHint;
}

.empty-section {
  flex: 1 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  h2 {
    margin: 0;
    text-align: center;
    text-wrap: balance;
    font-size: 36px;
    font-weight: 800;
    color: #cecece;
    line-height: 1.6;
  }
}

.container {
  max-width: unset;
  width: min(100%, 1320px);
}

.swiper_wrapper {
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  left: 12px;
  top: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid $border;
  border-radius: 100%;
  transition: $transition;
  opacity: 0.8;
  background: #ffffff94;
  backdrop-filter: blur(12px);
  @media screen and (max-width: 768px) {
    width: 32px;
    height: 32px;
  }
  &::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-image: url("/icons/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: $transition;
    filter: brightness(0);
    @media screen and (max-width: 768px) {
      width: 16px;
      height: 16px;
    }
  }
  &:hover {
    opacity: 1;
    background-color: $main;
    color: $main;
    border-color: $main;
    &::after {
      filter: brightness(0) invert(1);
    }
  }
  &.swiper-button-disabled {
    opacity: 0.2;
  }
}

.swiper-button-next {
  right: 12px;
  left: unset;
  &::after {
    transform: scaleX(-1);
  }
}

.modal .modal-xl {
  max-width: unset;
  width: min(100% - 24px, 1140px);
  margin: 20px auto;
  justify-content: center;
}

.row {
  margin: 0;
}

.bg-white {
  background-color: $white !important;
}

.closeDownload {
  width: 24px;
  height: 24px;
  font-size: 14px;
  border-radius: 50%;
  background: $white;
  @include centerFlex();
  margin: 4px;
}

.report-reason-card {
  width: 100%;
  input {
    display: none;
    &:checked + label {
      border-color: $main !important;
    }
  }
  label {
    background-color: $inputBg;
    border: 2px solid $inputStroke;
    width: 100%;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    gap: 24px;
    position: relative;
    cursor: pointer;
    transition: $transition;
  }
}

.download_app {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  direction: ltr;
  display: none;
  z-index: 9999;
  .inner {
    background: $white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
  }
  .icon {
    width: 62px;
    height: 62px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .text {
    h6,
    p {
      margin: 0;
    }
    p {
      color: $gray;
    }
  }
  @media screen and (max-width: 992px) {
    display: block;
  }
  .get_app {
    padding: 8px 24px;
    background: $main;
    color: $white;
    border-radius: 80px;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.22);
    z-index: -1;
  }
}

.shapes {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  z-index: -1;
  width: 600px;
  height: 600px;
  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    aspect-ratio: 1;
    border: 4px solid #ffffff30;
    border-radius: 60% 60% 40% 40% / 50% 50% 50% 50%;
    transition: 0.3s ease-in-out;
    animation: rotate 5s linear infinite;
    &:nth-child(1) {
      width: 70%;
    }
    &:nth-child(2) {
      width: 50%;
      border-radius: 50% 50% 40% 50% / 60% 80% 40% 40%;
      border-width: 8px;
    }
    &:nth-child(3) {
      width: 30%;
      border-radius: 50% 60% 50% 50% / 60% 60% 80% 40%;
      border-width: 12px;
    }
  }
  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}

.error-section {
  padding: 60px 16px;
  @include centerFlex();
  height: 100vh;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  img {
    height: 300px;
    margin-bottom: 24px;
    @media screen and (max-width: 576px) {
      height: 230px;
    }
  }
  h2 {
    margin: 0;
    text-align: center;
    font-size: 24px;
    color: $dark;
    line-height: 1.7;
    max-width: 600px;
    margin: 0 auto;
    @media screen and (max-width: 576px) {
      font-size: 20px;
    }
  }
  a {
    color: $main;
    border: 1px solid $main;
    position: relative;
    transition: $transition;
    @include centerFlex();
    padding: 8px 24px;
    transition: $transition;
    border-radius: 12px;
    gap: 8px;
    background: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    position: relative;
    transition: $transition;
    i {
      font-size: 16px;
    }
    &:hover {
      color: $white;
      border-color: $main;
      background-color: $main;
    }
  }
}

.confirm-delete {
  p {
    color: $dark;
    font-size: 16px;
    margin-bottom: 24px;
    span {
      color: red;
      font-weight: 600;
    }
  }
  .cancel-btn {
    border: 1px solid $inputStroke;
    color: $dark;
    width: 100%;
    outline: none;
    background: none;
    padding: 12px;
    border-radius: 12px;
  }
  .delete-btn {
    width: 100%;
    padding: 8px;
    background: rgb(255, 0, 0);
    color: $white;
    border-radius: 12px;
    border: 0;
    outline: none;
  }
  &.other {
    .delete-btn {
      background: $main;
    }
  }
}

.stars_rate {
  display: flex;
  align-items: center;
  gap: 16px;
  .stars {
    display: flex;
    align-items: center;
    gap: 4px;
    span {
      color: $gray;
      font-size: 16px;
      margin: 0;
    }
    img {
      height: 16px;
      @media (max-width: 576px) {
        height: 14px;
      }
    }
  }
}

.ad-modal-header {
  margin: 16px;
  color: $main;
  font-weight: 600;
}

.invalid-feedback {
  display: block;
}
