.search_section {
  padding: 12px 0;
  .search_header {
    width: 100%;
    background: $inputBg;
    border-radius: 60px;
    padding: 8px 24px;
    padding-inline-end: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
    input {
      width: 100%;
      height: 48px;
      @include clearInput();
    }
    button {
      min-width: 48px;
      height: 48px;
      color: $white;
      background: $main;
      border-radius: 50%;
      @include centerFlex();
    }
  }
  .search_nav {
    margin: 24px 0;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    border-bottom: 2px solid $inputBg;
    overflow-x: auto;
    overflow-y: hidden;
    a {
      padding: 6px 16px;
      color: $dark;
      transition: $transition;
      position: relative;
      white-space: nowrap;
      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%) skew(-30deg);
        width: 0;
        height: 2px;
        background: $main;
        transition: $transition;
      }
      &:hover,
      &.active {
        color: $main;
        &::after {
          width: 100%;
        }
      }
    }
  }
  .desc {
    font-size: 14px;
    color: $text;
  }
}

.PersonCard {
  background: $inputBg;
  padding: 16px;
  border-radius: 12px;
  @include space-between();
  .img_info {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 12px;
    .img {
      min-width: 64px;
      height: 64px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      gap: 4px;
      width: 100%;
      h4 {
        margin: 0;
        color: $main;
        font-size: 18px;
      }
      p {
        font-size: 14px;
        color: $text;
        margin: 0;
      }
    }
  }
  &.skeleton {
    .img_info .info {
      gap: 8px;
    }
    .skeleton-img {
      min-width: 64px;
      height: 64px;
      border-radius: 50%;
      background: #e0e0e0;
      animation: pulse 1.5s ease-in-out infinite;
    }
    .skeleton-text {
      background: #e0e0e0;
      height: 16px;
      border-radius: 4px;
      animation: pulse 1.5s ease-in-out infinite;
      width: calc(50% - 4px);
      &.skeleton-title {
        width: calc(70% - 4px);
        height: 20px;
        animation: pulse 1.5s ease-in-out infinite;
      }
    }
  }
  button {
    color: $dark;
  }
}

.AskCard {
  background: $inputBg;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 12px;

  .title {
    flex: 1;
    @include space-between();
    gap: 16px;
    .report_btn {
      background-color: $white;
      color: $dark;
      min-width: 32px;
      height: 32px;
      border-radius: 12px;

      padding: 4px 12px;
      @include centerFlex();
      gap: 8px;
      font-size: 14px;
      i {
        font-size: 14px;
      }
      &.dark {
        background-color: #f9f9f9;
      }
    }
    .favourite_btn {
      background: $white;
      color: $dark;
      min-width: 32px;
      height: 32px;
      border-radius: 50%;
      @include centerFlex();

      &.dark {
        background-color: #f9f9f9;
      }
      &.active {
        i {
          font-weight: 600;
          color: red;
        }
      }
    }
  }
  .user_info {
    display: flex;
    align-items: center;
    gap: 12px;
    .img {
      min-width: 52px;
      max-width: 52px;
      height: 52px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8px;
      h6 {
        color: $main;
        margin: 0;
      }
      span {
        color: $text;
        font-size: 12px;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    p {
      color: $dark;
      font-size: 14px;
      margin: 0;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
      -webkit-box-orient: vertical;
    }
    button {
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 14px;
      color: $main;
    }
  }

  &.skeleton {
    .skeleton-img {
      min-width: 52px;
      max-width: 52px;
      height: 52px;
      border-radius: 50%;
      background: #e0e0e0;
      animation: pulse 1.5s ease-in-out infinite;
    }
    .skeleton-text {
      background: #e0e0e0;
      height: 16px;
      border-radius: 4px;
      animation: pulse 1.5s ease-in-out infinite;
      width: calc(30% - 4px);
    }
    .skeleton-description {
      background: #e0e0e0;
      height: 16px;
      border-radius: 4px;
      animation: pulse 1.5s ease-in-out infinite;
      width: 100%;
    }
    .info .skeleton-text {
      width: calc(50% - 4px);
    }
  }
  
  &.my-ask {
    background-color: $white !important;
  }
}
